<div *ngIf="loading | async">
  <mat-progress-bar class="loader" mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="data | async; let posts;">
  <div class="home-container" [@slidein]="docs">
    <div *ngFor="let post of posts">
      <a routerLink="/read">
        <mat-card class="example-card" (mouseenter)="onHovering($event)" (mouseleave)="onUnovering($event)">
          <mat-card-header>
            <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url(' + post.photoURL + ')'}"></div>
            <mat-card-title>{{post.displayName}}</mat-card-title>
            <mat-card-subtitle>[{{post.cat}}] - {{post.createdAt | date : 'd. LLLL yyyy, H:mm':'':'de'}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{post.content | slice:0:150}}...
            </p>
          </mat-card-content>

        </mat-card>
      </a>
    </div>

  </div>
  <button (click)="more()" mat-button>more</button>
</div>