<div *ngIf="posts.loading | async">
  <mat-progress-bar class="loader" mode="indeterminate"></mat-progress-bar>
</div>

<div class="wrapper">


  <div *ngIf="postsAdded$ | async; let posts;">
    <div *ngFor="let post of posts" [@flyInOut]="'in'">new
      <app-post-detail [post]="post"></app-post-detail>
    </div>
  </div>


  <div *ngIf="posts$ | async; let posts;">
    <div *ngFor="let post of posts" [@flyInOut]="'in'">
      <app-post-detail [post]="post"></app-post-detail>
    </div>
  </div>

  <div class="button-wrapper">
    <div *ngIf="auth.user$ | async">
      <button id="add" mat-fab (click)="openDialog()">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </div>
  </div>
  
</div>
<p *ngIf="posts.done | async"> Ende </p>