.home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 0;
    mat-card {
        max-width: 395px;
        min-width: 300px;
        height: 110px;
        display: inline-block;
        margin: 16px;
        .header-image {
            
            background-size: cover;
        }
        mat-card-content {
            text-align: justify;
            // white-space: pre-line;
        }
    }

}
.loader {
    height: 3px;
    position: fixed;
    top: 0px;
    z-index: 100;
    left: 0;
  }