.post-card {
  max-width: 400px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;

  .header-image {
      background-size: cover;
  }
  .post-cat {
      font-weight: bold;
  }
  .post-content {
      text-align: justify;
      white-space: pre-line;
  }
}
