.content-header {
  height: 80px;
}

.center {
  margin: auto;
}
mat-card {
  max-width: 600px;
  min-width: 300px;
  display: inline-block;
  margin: 16px;
  div.mat-card-header-text {
    margin: 0 0 0 0 !important;
  }
  .header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
  }
  mat-card-content {
    padding: 8px;
    text-align: justify;
    white-space: pre-line;
      .mat-subheading-1 {
        font-style: italic;
      }
  }
}
