<mat-card class="post-card">
  <mat-card-header>
      <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url(' + post.author.photoURL + ')'}"></div>
    <mat-card-title><a routerLink="/user/{{post.author.uid}}" class="user-link">{{post.author.displayName}}</a></mat-card-title>
    <mat-card-subtitle>{{post.createdAt | date : 'd. LLLL yyyy, H:mm':'':'de'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="post-content mat-body-1">{{post.content | slice:0:150}}...</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
