
<div>
  <mat-card>
    <mat-form-field class="stream-list-select-cat">
      <mat-select [(ngModel)]="category" placeholder="Kategorie">
        <mat-option value="Programmierung">Programmierung</mat-option>
        <mat-option value="Netzwerke">Netzwerke</mat-option>
        <mat-option value="Prüfung">Prüfung</mat-option>
        <mat-option value="Sonstiges">Sonstiges</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="title" matInput placeholder="Überschrift">
      </mat-form-field>
      <mat-form-field>
          <textarea [(ngModel)]="subheader" matInput placeholder="Subheader" matAutosizeMinRows="5" matAutosizeMaxRows="7"></textarea>
        </mat-form-field>
    <mat-form-field class="stream-list-create-textfield">
      <mat-card-content>
        <textarea #msg [(ngModel)]="content" matInput placeholder="Was gibt's neues?" matTextareaAutosize matAutosizeMinRows="20"
          matAutosizeMaxRows="50"></textarea>
        <mat-hint align="end">{{msg.value.length}} / 1500</mat-hint>
      </mat-card-content>
    </mat-form-field>
    <mat-card-actions>
      <button mat-button (click)="fillForm()">autofill</button>
      <button color="primary" [disabled]="content?.length < 2 || content?.length > 1500 || !category" mat-raised-button (click)="newPost()">STREAM!</button>
    </mat-card-actions>
  </mat-card>
</div>
