<mat-toolbar color="accent">
    <button mat-icon-button (click)="back()">
        <mat-icon aria-label="Back">arrow_back</mat-icon>
      </button>
    <span class="title">Neuer Post</span>
  </mat-toolbar>
<div>

  <mat-card>
  
    <mat-form-field class="stream-list-select-cat">
      <mat-select [(ngModel)]="category" placeholder="Kategorie">
        <mat-option value="Programmierung">Programmierung</mat-option>
        <mat-option value="Netzwerke">Netzwerke</mat-option>
        <mat-option value="Prüfung">Prüfung</mat-option>
        <mat-option value="Sonstiges">Sonstiges</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="stream-list-create-textfield">
        <textarea #msg [(ngModel)]="content" matInput placeholder="Was gibt's neues?" matTextareaAutosize matAutosizeMinRows="10"
          matAutosizeMaxRows="30"></textarea>
        <mat-hint align="end">{{msg.value.length}} / 500</mat-hint>
      </mat-form-field>

    <mat-card-actions>
        <button mat-button (click)="addRandom()">add random</button>
      <button mat-button (click)="fillForm()">autofill</button>
      <button color="primary" [disabled]="content?.length < 2 || content?.length > 500 || !category" mat-raised-button (click)="newPost()">STREAM!</button>
    </mat-card-actions>
  </mat-card>
</div>
