<div>
  <mat-toolbar color="primary" class="main-header">
    <button (click)="start.toggle()" mat-icon-button>
      <mat-icon aria-label="Menu Toggle">menu</mat-icon>
    </button>
    <span class="title">STREAM</span>
    <span class="spacer"></span>
    <div  *ngIf="auth.user$ | async then loggedIn else loginbutton"></div>
    <ng-template #loggedIn>
      <button mat-icon-button (click)="end.toggle()" matTooltip="Freunde" matTooltipShowDelay="600">
        <mat-icon aria-label="Right sidenav toggle">people</mat-icon>
      </button>
      <button mat-icon-button (click)="end.toggle()" matTooltip="Benachrichtigungen" matTooltipShowDelay="600">
        <mat-icon aria-label="Right sidenav toggle">notifications</mat-icon>
      </button>
      <a (click)="openSettings()">
        <img class="account-button" [src]="auth.photoURL" height="30" width="30" align="middle">
      </a>
    </ng-template>
    <ng-template #loginbutton>
      <button mat-button (click)="login()">
        Anmelden
      </button>
    </ng-template>
  </mat-toolbar>
  <mat-sidenav-container id="content" class="main-container">
    <mat-sidenav position="start" #start 
    [mode]="mobileQuery.matches ? 'over' : 'side'" 
    [opened]="mobileQuery.matches ? 'false' : 'false'"
    class="left-sidenav" 
    fixedInViewport="true" 
    [fixedTopGap]="mobileQuery.matches ? '0' : '56'"
      fixedBottomGap="0">
      <div *ngIf="mobileQuery.matches">
        <mat-toolbar class="left-header" color="primary">
          <button (click)="start.toggle()" mat-icon-button>
            <mat-icon aria-label="Menu Toggle">menu</mat-icon>
          </button>
          <span class="title">STREAM</span>
        </mat-toolbar>
      </div>

      <mat-nav-list>
        <a mat-list-item [routerLink]="link.url" routerLinkActive="left-sidenav-link-active" (click)="mobileQuery.matches ? start.close('mouse') : 'false' " *ngFor="let link of links">
          <mat-icon class="left-sidenav-icon">{{ link.icon }}</mat-icon> {{ link.name }} </a>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav #end position="end" mode="side" opened="false" class="right-sidenav" fixedInViewport="true" fixedTopGap="56"
      fixedBottomGap="0">
      <p>asdfasfd as fas </p>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="sidenav-content" [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<ng-template cdk-portal></ng-template>