.main-container {
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

.left-sidenav {
  width: 240px;
  border-right: 1px solid rgba(0,0,0,.14);

  .mat-icon {
    color: hsl(0, 0%, 53.3%);
  }
  .mat-list {
    padding: 0;
    .mat-list-item {
      height: 55px;
    }
  }
  .mat-nav-list {
    .mat-list-item {
      height: 40px;

      .mat-icon {
        padding-left: 8px;
        padding-right: 40px;
      }
    }
  }
  .title{
    padding: 0 32px;
    margin: 0;
  }
}
.right-sidenav {
  width: 200px;
  z-index: 1!important;
  border-left: 1px solid rgba(0,0,0,.14);
}
.main-header {
  position: fixed;
  height: 56px;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 16px;
  border-bottom: 1px solid rgba(0,0,0,.14);
  .account-button {
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
  }
  .mat-icon-button {
    margin-right: 16px;
  }
  .title{
    padding: 0 16px;
  }
  .spacer {
    flex: 1 1 auto;
  }
}
