<h2 mat-dialog-title>Post erstellen</h2>
<mat-dialog-content>
  <mat-form-field class="stream-list-select-cat">
      <mat-select [(ngModel)]="category" placeholder="Kategorie">
        <mat-option value="option1">Programmierung</mat-option>
        <mat-option value="option2">Netzwerke</mat-option>
        <mat-option value="option3">Prüfung</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Überschrift">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Subheader">
        </mat-form-field>
    <mat-form-field class="stream-list-create-textfield">
      <mat-card-content>
        <textarea #msg [(ngModel)]="content" matInput placeholder="Was gibt's neues?" matTextareaAutosize matAutosizeMinRows="20"
          matAutosizeMaxRows="50"></textarea>
        <mat-hint align="end">{{msg.value.length}} / 1000</mat-hint>
      </mat-card-content>
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">Yes</button>
  <button color="primary" [disabled]="content?.length < 2 || content?.length > 1000 || !category" mat-raised-button (click)="createPost()">STREAM!</button>
</mat-dialog-actions>
