<div class="settingsportal mat-elevation-z8" *ngIf="auth.user$ | async">
  <mat-card-header class="mat-typography">
    <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url(' + user.photoURL + ')'}"></div>
    <mat-card-title>{{user.displayName}}</mat-card-title>
    <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
  </mat-card-header>

  <mat-nav-list>
    <a mat-list-item href="#">
      <mat-icon matListIcon>account_box</mat-icon> Konto </a>
    <a mat-list-item href="#">
      <mat-icon matListIcon>settings</mat-icon> Einstellungen </a>
    <a mat-list-item>
      <mat-icon matListIcon>brightness_6</mat-icon> Dunkelmodus </a>
      <mat-divider></mat-divider>
    <a mat-list-item  (click)="logout()">
      <mat-icon matListIcon>exit_to_app</mat-icon> Abmelden </a>
  </mat-nav-list>
</div>